<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper_test.mapper.UserMapper">
    <sql id="commonSql">
		    age,name,id,mobile,email,img
    </sql>
    <resultMap id="resultUser" type="com.example.mapper_test.entity.User" autoMapping="true">
        <id property="id" column="id"></id>
    </resultMap>
    <select id="selectUserById" resultMap="resultUser">
        select <include refid="commonSql"></include> from user where id = #{id}
    </select>
    <select id="selectUser" resultMap="resultUser">
        select <include refid="commonSql"></include> from user
        <where>
            <if test="name!=null and name!=''">
                name = #{name}
            </if>
            <if test="age!=null and age != 0">
                and age = #{age}
            </if>
            <if test="mobile!=null and mobile!=''">
                and mobile = #{mobile}
            </if>
        </where>
    </select>
    <select id="selectByMobile" resultType="com.example.mapper_test.entity.User">
        select <include refid="commonSql"></include> from user where mobile = #{mobile}
    </select>
    <select id="selectUserByPage" resultMap="resultUser">
        select <include refid="commonSql"></include>
        from user
        <where>
            <if test="user.id!=null and user.id!=''">
                id = #{user.id}
            </if>
            <if test="user.name!=null and user.name!=''">
                name = #{user.name}
            </if>
            <if test="user.age!=null and user.age != 0">
                and age = #{user.age}
            </if>
            <if test="user.mobile!=null and user.mobile!=''">
                and mobile = #{user.mobile}
            </if>
        </where>
    </select>
</mapper>